.navbar {
    height: 60px;
    width: 90vw;
    margin: 0 auto;
    /* margin-top: 65px; */
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    /* display: block; */
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
      0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius:40px;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    z-index: 2;
  }
  
  .navbar .logo {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16pt;
  }
  
  .navbar .logo a {
    text-decoration: none;
    color: #090909;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 4em;
  }
  
  .navbar ul li {
    display: inline;
    text-decoration: none;
  }
  
  .navbar ul li a {
    padding: 0.25em 1em 0.25em 1em;
    color: #090909;
    text-decoration: none;
    font-weight: 400;
  }
  
  .navbar a:hover {
    color: #777;
    transition-duration: 0.3s;
  }
  